<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplos Flexbox</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section>
    <h2>FLEX DIRECTION</h2>

    <h4>ROW</h4>
    <div class="example-direction-row">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>COLUMN</h4>
    <div class="example-direction-column">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>ROW REVERSE</h4>
    <div class="example-direction-column">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>COLUMN REVERSE</h4>
    <div class="example-direction-column-reverse">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>
  </section>

  <section>
    <h2>JUSTIFY CONTENT</h2>

    <h4>CENTER</h4>
    <div class="example-justify-content-center">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>FLEX START</h4>
    <div class="example-justify-content-start">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>FLEX END</h4>
    <div class="example-justify-content-end">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>SPACE AROUND</h4>
    <div class="example-justify-content-around">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>SPACE BETWEEN</h4>
    <div class="example-justify-content-between">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>SPACE EVENLY</h4>
    <div class="example-justify-content-evenly">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>
  </section>

  <section>
    <h2>ALIGN ITEMS</h2>

    <h4>STRETCH</h4>
    <div class="example-align-items-stretch">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>FLEX START</h4>
    <div class="example-align-items-start">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>FLEX END</h4>
    <div  class="example-align-items-end">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>CENTER</h4>
    <div  class="example-align-items-center">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>
  </section>

  <section>
    <h2>FLEX WRAP</h2>
    
    <h4>WRAP</h4>
    <div class="example-flex-wrap">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>

    <h4>NOWRAP</h4>
    <div class="example-flex-nowrap">
      <div>Caja 1</div>
      <div>Caja 2</div>
      <div>Caja 3</div>
    </div>
  </section>
</body>

</html>