<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplos Flexbox</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <section>
    <h2>FLEX DIRECTION</h2>

    <h4>ROW</h4>
    <div class="contenedor example-direction-row">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>COLUMN</h4>
    <div class="contenedor example-direction-column">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>ROW REVERSE</h4>
    <div class="contenedor example-direction-row-reverse">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>COLUMN REVERSE</h4>
    <div class="contenedor example-direction-column-reverse">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>
  </section>

  <hr>
  <hr>

  <section>
    <h2>JUSTIFY CONTENT</h2>

    <h4>CENTER</h4>
    <div class="contenedor example-justify-content-center">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
      <div class="caja caja-1">Caja 4</div>
      <div class="caja caja-2">Caja 5</div>
      <div class="caja caja-3">Caja 6</div>
      <div class="caja caja-1">Caja 7</div>
      <div class="caja caja-2">Caja 8</div>
      <div class="caja caja-3">Caja 9</div>
    </div>

    <h4>FLEX START</h4>
    <div class="contenedor example-justify-content-start">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>FLEX END</h4>
    <div class="contenedor example-justify-content-end">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    
    <h4>SPACE BETWEEN</h4>
    <div class="contenedor example-justify-content-between">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
      <div class="caja caja-1">Caja 4</div>
      <div class="caja caja-2">Caja 5</div>
    </div>

    <h4>SPACE AROUND</h4>
    <div class="contenedor example-justify-content-around">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>SPACE EVENLY</h4>
    <div class="contenedor example-justify-content-evenly">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>
  </section>

  
  <hr>
  <hr>

  
  <section>
    <h2>ALIGN ITEMS</h2>

    <h4>STRETCH</h4>
    <div class="contenedor example-align-items-stretch">
      <div class="caja-example-align caja-1">Caja 1</div>
      <div class="caja-example-align caja-2">Caja 2</div>
      <div class="caja-example-align caja-3">Caja 3</div>
    </div>

    <h4>FLEX START</h4>
    <div class="contenedor example-align-items-start">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>FLEX END</h4>
    <div class="contenedor example-align-items-end">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
    </div>

    <h4>CENTER</h4>
    <div  class="contenedor example-align-items-center">
      <div class="caja caja-1 example-align-items-center-item">Caja 1</div>
      <div class="caja caja-2 example-align-items-center-item">Caja 2</div>
      <div class="caja caja-3 example-align-items-center-item">Caja 3</div>
    </div>
  </section>

  
  <hr>
  <hr>



  <section>
    <h2>FLEX WRAP</h2>
    
    <h4>NOWRAP</h4>
    <div class="contenedor example-flex-nowrap">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
      <div class="caja caja-1">Caja 4</div>
      <div class="caja caja-2">Caja 5</div>
      <div class="caja caja-3">Caja 6</div>
      <div class="caja caja-1">Caja 7</div>
      <div class="caja caja-2">Caja 8</div>
      <div class="caja caja-3">Caja 9</div>
    </div>


    <h4>WRAP</h4>
    <div class="contenedor example-flex-wrap">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
      <div class="caja caja-1">Caja 4</div>
      <div class="caja caja-2">Caja 5</div>
      <div class="caja caja-3">Caja 6</div>
      <div class="caja caja-1">Caja 7</div>
      <div class="caja caja-2">Caja 8</div>
      <div class="caja caja-3">Caja 9</div>
    </div>

    <h4>WRAP REVERSE</h4>
    <div class="contenedor example-flex-wrap-reverse">
      <div class="caja caja-1">Caja 1</div>
      <div class="caja caja-2">Caja 2</div>
      <div class="caja caja-3">Caja 3</div>
      <div class="caja caja-1">Caja 4</div>
      <div class="caja caja-2">Caja 5</div>
      <div class="caja caja-3">Caja 6</div>
      <div class="caja caja-1">Caja 7</div>
      <div class="caja caja-2">Caja 8</div>
      <div class="caja caja-3">Caja 9</div>
    </div>

  </section>

  <hr>
  <hr>

  <section>
    <h2>ITEMS PROPS</h2>
    
    <h4>ORDER</h4>
    <div class="contenedor example-order">
      <div class="caja caja-1 caja-order-1">Caja 1</div>
      <div class="caja caja-2 caja-order-2">Caja 2</div>
      <div class="caja caja-3 caja-order-3">Caja 3</div>

    </div>


    <h4>GROW</h4>
    <div class="contenedor example-grow">
      <div class="caja caja-1 caja-grow-1">Caja 1</div>
      <div class="caja caja-2 caja-grow-2">Caja 2</div>
      <div class="caja caja-3 caja-grow-3">Caja 3</div>
    </div>

    <h4>ALIGN SELF</h4>
    <div class="contenedor example-align-self">
      <div class="caja caja-1 caja-self-1">Caja 1</div>
      <div class="caja caja-2 caja-self-2">Caja 2</div>
      <div class="caja caja-3 caja-self-3">Caja 3</div>
      <div class="caja-1 caja-self-4">Caja 4</div>
    </div>

  </section>


</body>

</html>